
@font-face {
    font-family: 'bebas_kairegular';
    src: url('bebaskai-webfont.woff2') format('woff2'),
         url('bebaskai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tex_gyre_scholaregular';
    src: url('texgyreschola-regular-webfont.eot');
    src: url('texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreschola-regular-webfont.woff2') format('woff2'),
         url('texgyreschola-regular-webfont.woff') format('woff'),
         url('texgyreschola-regular-webfont.ttf') format('truetype'),
         url('texgyreschola-regular-webfont.svg#tex_gyre_scholaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */


body {
    padding: 100px;
    font-size: 0.9em;

}

ul {
    text-align: center;

    margin: 0 30px 0 0;

}

li {
    font-family: tex_gyre_scholaregular;
    margin: 10px 20px 0 10px;
    
    display: inline;
}

li a:link,
li a:visited {
    color: #000;
    text-decoration: none;
}

.heading {
	font-family: bebas_kairegular;
    text-align: center;

    box-sizing: border-box;    
}

h3 {
	font-family: tex_gyre_scholaregular;
    text-align: center;
}

p {
	font-family: tex_gyre_scholaregular;
	line-height: 1.5em;
}

.hackathon:link,
.hackathon:visited {
    color: #000;
    text-decoration: none;
}

.hackathon:hover {
    color: blue;
}


